<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>My app</title>
  </head>
</html>

  <body>
    <div id="phone">
      <header><h1>Answer</h1></header>
      <main>

        <section class="question-block"></section>
        <section class="answer-block"><input /></section>
      </main>
      <%= questionAsked.Que %>
      <footer>
        <button class="button"><a href="/home.ejs">delete</a></button>
        <button class="button"><a href="/add">add</a></button>
        <form method="POST"><button class="button">submit<a href="/display"></a></button></form>
      </footer>
      <%= questionAsked.Que %>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
