<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>My app</title>
  </head>
</html>

  <body>
    <div id="phone">
      <header><h1><%= questionAsked.Que %></h1></header>

      <footer>
          <form method="post" action="/insert">
            <input type="text" name="answer">
            <button name="_id" value="<%=questionAsked._id %>" type="submit">Submit</button>
        </form>

        <form method="remove" action="/">
          <button type="submit">remove</button>
      </form>
      </footer>
      <h1><%= questionAsked.Ans %></h1>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
