body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12.5pt;
  background-color: blueviolet;
  color: azure;
}

#phone {
  width: 300px;
  height: 600px;
  border: solid;
  border-color: azure;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

footer {
  border-radius: 10px;
  border-color: azure;
  border-width: 2px;
  border: solid;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.block-cell {
  border-width: 2px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  border: solid;
  border-radius: 10px;
  border-color: azure;
  height: 280px;
}

button {
  display: flex;
  align-content: center;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid;
  border-radius: 5px;
  border-color: azure;
  text-align: center;
}

button:hover {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid;
  border-radius: 5px;
  border-color: blueviolet;
  text-align: center;
}
