<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <title>My app</title>
  </head>
  <body>
    <div id="phone">
      <header><h1>Hello!</h1></header>
      <main>
        <!-- This button activates the dating simulator -->
        <section class="question-block">
          <button id="date-sim">
            <img class="icon" src="/public/images/chat.png" />
          </button>
        </section>
        <!-- This panel should change when interacting with the like or dislike buttons. it displays information -->
        <div class="main_square" id="PFfoto">
          <img src="/public/images/yentl.png" />
        </div>
      </main>
      <footer>
        <!-- This button swipes the person away. -->
        <button class="button" id="Next">
          <p><img src="/public/images/cross.png" /></p>
        </button>
        <!-- This button likes the person. -->
        <button class="button" id="Heart">
          <p><img src="/public/images/heart.png" /></p>
        </button>
        <section><p><%= questions[1].question %></p></section>
        <input />
      </footer>
    </div>
    <script src="gears.js"></script>
  </body>
</html>
